[package]
name = "server"
version.workspace = true
edition.workspace = true

[dependencies]
dotenvy.workspace = true
simple_logger.workspace = true
log.workspace = true
time.workspace = true
tokio.workspace = true
